@import "../../../global.less";

.select-list {
  .new-scroll-bar();
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  max-height: 200px;
  position: relative;
  overflow: auto;
  color: black;
  &:focus {
    li[data-selected="true"] {
      background-color: #6dc2f6 !important;
    }
  }
  & > li {
    display: flex;
    padding: 8px 12px;
    cursor: pointer;
    &:hover {
      background-color: #f4f5f5;
    }
    &[data-selected="true"] {
      background-color: #d5e7ff;
    }
  }
}

.cascade-select-list {
  display: flex;
  flex-direction: row;
  min-width: 10px;
  min-height: 10px;
}

.select-item {
  display: flex;
  padding: 8px 12px;
  cursor: pointer;
  &:hover {
    background-color: #f4f5f5;
  }
  &[data-selected="true"] {
    background-color: #d5e7ff;
  }
}
